.text_2{
    background: #a88add ;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
.bot{
    transform: translateX(-265%);
}
@media screen and (max-width: 480px) {
    .bot{
        transform: translateX(-100%);
    }
  }