
.imG{
    transition: transform 0.5s; /* Smooth transition for non-hover state */
    
}
.div11:hover .imG2{
    box-shadow: -2px 0px 8px 0.5px   #7c52dc;


}

.div11:hover .div11{
    box-shadow: 0px 0px 8px 0.5px #7c52dc;
}

.div11:hover .imG{
    animation: rotate 5s linear infinite ; 
    box-shadow: 0px 0px 8px 0.2px #7c52dc;
}




@keyframes rotate {
    0%{
        
    }
    100%{
        transform: rotate(360deg);
    }

}














.imG11{
    transition: transform 0.5s; /* Smooth transition for non-hover state */
    
}
 .imG22{
    box-shadow: -2px 0px 8px 0.5px   #7c52dc;


}

.div111{
    box-shadow: 0px 0px 8px 0.5px #7c52dc;
}

.imG11{
    animation: rotate 5s linear infinite ; 
    box-shadow: 0px 0px 8px 0.2px #7c52dc;
}




@keyframes rotate {
    0%{
        
    }
    100%{
        transform: rotate(360deg);
    }
}
